<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>
<body>
    <div class="container">
        <h2 class="mt-5">Lista de plano</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% plans.forEach(plan => { %>
                   <tr>
                       <td>R$  <%= plan.id %></td>
                       <td>R$ <%= plan.title %></td>
                       <td>R$ <%= plan.value %></td>
                       <td><% if(plan.desativado == 1){ %>
                            
                          <p style="color:red;">Desativado</p> 
                      <% }else { %>
                            <p style="color: blue;">Ativo</p>
                      <% } %>
                       </td>
                       <td>
                           <a class="btn btn-danger" href="/plans/desativado/<%=plan.id%>">Desativar</a>
                           <a class="btn btn-primary" href="/plans/ativo/<%=plan.id%>
                           ">Ativar</a>
                       </td>
                   </tr>
                <% } ) %>
            </tbody>
        </table>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>